#this is reference documenation for the .env file of the gitlab directory
#the WORDS IN ALL CAPS and before an = sign are the Variables
#when you make a real version of this file, remove the leading # before any Variables (the words in ALL CAPS to the left of =)
#when you make a real verison of this file, just call it .env
#when you make a real version of this file, add it to your .gitignore file before doing anything else by typing its name inside a file in the directroy where it exists called .gitignore

#this section is to help you understand what all of the variables mean/do
#CI_SERVER_URL: url used by the GitLab Runner to access the GitLab CE instance from inside Docker containers over local docker network called gitlab-network
#REGISTRATION_TOKEN: token for registering runners with Gitlab #copy this out of Gitlab CE web UI (no need to generate it)
#RUNNER_NAME: name of your runner
#RUNNER_EXECUTOR: type of executor for your runner #this would change if you use a different runner executor
#DOCKER_IMAGE: version of the base runner image the runner will use
#PROJECT_PATH: this the absolute file path on the host machine to the project directory #used by volume mounts so the runner can see the project files
#GITLAB_TOKEN_1: Gitlab project-specific token for accessing the project used for project-level CI/CD operations #generate and copy this out of Gitlab CE web UI: Project -> CICD -> Variables
#GITLAB_TOKEN_2: a spare Gitlab project-specific token
#GITLAB_PAT:  general Gitlab Personal Access Token for authenticating in Gitlab #generate in Gitlab CE Admin area and copy it into this .env
#GITLAB_CI_TRIGGER_TOKEN: token for triggering pipelines in Gitlab (via API) #generate in Gitlab CE and copy into this .env
#GITLAB_PORT: host machine port mapped to Gitlab CE web UI #you could change this but i don't recommend it unless you have a good reason to
#REGISTRY_PORT: host machine port mapped to local container registry #you could change this but i don't recommend it unless you have a good reason to
    #the local registry uses comes from Gitlab under the hood but uses its own URL
#HOST_KUBECONFIG_DIR: path to the host kubbeconfig directory if needed for local scripts #this is not actually used but included for reference
#COMPOSE_PROJECT_NAME: this is the name of the gitlab subdirectory specific to this project; it primarily needed for backup and restore

#this section is to show you what you real .env file shoud look like
#the basic format is VARIABLE=VariableAssignment
#I am going to show you the VariableAssignment inside of <> symbols like <VariableAssignment>
#DO NOT use the <> around the VariableAssignment when making the real .env file
#DO NOT include the leading # before the variables when making the real .env file
#if present, you can keep the # mark on lines that are NOT ALL CAPS as these comment lines for informational purposes, though it is not standard to use comments like this in a .env file
#when you make a .env file, the first thing you need is add it to your .gitignore file in the same directroy
#some of the Variable Assignments include braces like {} which means the variable uses a variable that will be automatically generated by the CI/CD tool itself
#some of the Variable Assignments include :- this tells you to use what is to the left of the : as the Variable but if it's not available to "fall back" to what is to the right of the -
#some Variable names are pre-defined by your CI/CD tool and are called pre-defined variables; you should look them up in the tool's documentation
#YOU WOULD NOT ACTUALLY TYPE/INCLUDE ANYTHING ABOVE AND INCLUDING THIS LINE IN YOUR REAL .env file (except maybe the first line)

#CI_SERVER_URL=<http://gitlab/>
#REGISTRATION_TOKEN=<YourRunnerRegistrationToken>
#RUNNER_NAME=<gitlab-runner>
#RUNNER_EXECUTOR=<docker>
#DOCKER_IMAGE=<latest>
#PROJECT_PATH=</aboslute/path/to/project/on/host>
#GITLAB_TOKEN_1=<YourProjectAccessToken>
#GITLAB_TOKEN_2=<YourSpareProjectAccessToken>
#GITLAB_PAT=<YourPersonalAccessToken>
#GITLAB_CI_TRIGGER_TOKEN=<YourPipelineTriggerToken>
#GITLAB_PORT=8929 
#REGISTRY_PORT=8930
#COMPOSE_PROJECT_NAME=project1


